body{
   /* insert wooden table image here */
   background-color: #E9ECEF;
   background-image: url("../img/woodentable.jpg");
   background-size: cover;
}
.jumbotron{
   padding: 0.9%;
}
.container{
   text-align: center;
   padding: 5%;
   padding-top: 15%;
}
#order{
   width: 100vw;
}
/* Order Form CSS */
#orderform{
   margin: 2%;
   padding: 2%;
   background-color: #E9ECEF;
}
#submit{
   margin-left: 2%;
}
/* Order Summary CSS */
#ordersummary{
   margin: 2% 2% 2% 0;
   padding: 2%;
   background-color: #E9ECEF;
}

#pickme{
   margin-left: 10px;
}

button{
   margin: auto;
}