header{
   background-image: url(../img/discobkg.jfif);
   background-size: cover;
   height: 100%;
   margin-bottom: 2%;
}
#headertext{
   color: white;
   text-align: center;
   padding: 10%;
}
#yourorder{
   display: none;
}