body{
   font-family: 'Courier Prime', monospace;
}
header{
   background-image: url(../img/discobkg.jfif);
   background-size: cover;
   height: 100%;
   margin-bottom: 2%;
}
#headertext{

   text-align: center;
   padding: 10%;
}
#headerstyle{
   margin-left: 40%;
   width: fit-content;
   border: 2px solid white;
   border-radius: 50%;
   padding: 3%;
   background-color: white;
}
.btn{
   border: 1px solid slategray;
}
#yourorder{
   display: none;
}